@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

body {
  background-color: #f4f4f4;
}

/*Aplico margen al boton de inicio de cada pagina*/
.btn-inicio {
  margin-left: 10px;
  margin-top: 10px;
}
.btn-inicio a {
  color: black;
}

/*Aplico la posicion fixed en el contenedor del logo de whatsapp*/
.whatsapp-container {
  position: sticky;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}
.whatsapp-container img {
  width: 50px;
}

/*Tamaño del logo*/
.logo {
  width: 200px;
  margin: 5px;
}

/*Quito padding del navbar*/
.navbar {
  padding: 0;
}

/*Aplico un fondo y agrego paddin en la parte de abajo cuando el navbar sea responsive*/
.contenedor {
  background-color: black;
  padding-bottom: 10px;
}

/*Aplico color blanco a los links del navbar*/
.link {
  color: white;
}
.link:hover {
  color: #d42020;
}

/*Aplico color y estilo de borde al boton de busqueda del navbar*/
.btn {
  color: #d42020;
  border: 1px solid #d42020;
}
.btn:hover {
  color: white;
  background-color: #d42020;
  border: #d42020;
}

/*Aplico hover al dropdown de categorias*/
.menu-desplegable li a:hover {
  background-color: #d42020;
  color: white;
}

/*Aplico grid y estilos al footer*/
footer {
  display: grid;
  grid-template-columns: repeat(3 350px);
  grid-template-rows: 1 250px;
  gap: inherit;
  justify-content: space-between;
  align-items: inherit;
  grid-template-areas: "footer1 footer2 footer3";
  background-color: #c0c0c0;
}
footer i {
  color: black;
}

/*Activo flex en el contenedor de la info de redes sociales*/
.redsocial-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  margin: 5px 0;
  grid-area: footer1;
}
.redsocial-container p {
  margin-left: 50px;
}
.redsocial-container .img-red-social a {
  text-decoration: none;
  padding: 0 15px;
}

/*Aplico margen a las imagenes del contendor de redes sociales*/
.fa-brands {
  margin-top: 5px;
  margin-left: 15px;
}

/*Activo flex en contenedor de copyright*/
.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  grid-area: footer2;
}
.copyright-container .parrafo-1 {
  margin-left: 105px;
}
.copyright-container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  color: black;
  text-decoration: none;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  margin: 0 20px;
  padding: 10px;
  grid-area: footer3;
}
.contacto-container .contacto-item1 {
  margin-left: 50px;
}
.contacto-container .contacto-item2 {
  margin-left: 25px;
}

/*Le aplico tamaño a las imagenes de los banners*/
.w-banner {
  width: 100%;
  height: 400px;
}

/*Aplico grid y estilos a la seccion de info*/
.info-container {
  display: grid;
  grid-template-columns: repeat(3 350px);
  grid-template-rows: 1 250px;
  gap: 30px;
  justify-content: inherit;
  align-items: inherit;
  grid-template-areas: "info1 info2 info3";
  background-color: #a2a2a2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.info-container .garantia-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: inherit;
  grid-area: info1;
}
.info-container .garantia-container img {
  width: 70px;
}
.info-container .delivery-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: inherit;
  grid-area: info2;
}
.info-container .delivery-container i {
  font-size: 50px;
}
.info-container .cuotas-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: inherit;
  grid-area: info3;
}
.info-container .cuotas-container .img-cuotas {
  display: flex;
}
.info-container .cuotas-container .img-cuotas .tarjetas {
  width: 150px;
  height: 50px;
}

/*Aplico flex y centro el titulo "novedades"*/
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
}

/*Aplico flex y margen al titulo de Categorias*/
.titulo-categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  margin-top: 20px;
}

/*Aplico flex y margen a los subtitulos de la seccion de Categorias*/
.subtitulo-categorias {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  margin-left: 50px;
  margin-top: 20px;
}

/*Aplico grid y declaro la posicion de los productos de novevades*/
.novedades-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "prod1 prod2 prod3 prod4 prod5" "prod6 prod7 prod8 prod9 prod10";
}
.novedades-container .prod-novedad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.novedades-container .prod-novedad img {
  width: 150px;
}
.novedades-container .prod-novedad p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.novedades-container .prod-novedad button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.novedades-container .prod-novedad button:hover {
  background-color: #d66b6b;
}
.novedades-container .prod1 {
  grid-area: prod1;
}
.novedades-container .prod2 {
  grid-area: prod2;
}
.novedades-container .prod3 {
  grid-area: prod3;
}
.novedades-container .prod4 {
  grid-area: prod4;
}
.novedades-container .prod5 {
  grid-area: prod5;
}
.novedades-container .prod6 {
  grid-area: prod6;
}
.novedades-container .prod7 {
  grid-area: prod7;
}
.novedades-container .prod8 {
  grid-area: prod8;
}
.novedades-container .prod9 {
  grid-area: prod9;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de guitarras*/
.guitarras-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "guitar1 guitar2 guitar3 guitar4 guitar5" "guitar6 guitar7 guitar8 guitar9 guitar10";
}
.guitarras-container .prod-guitarras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.guitarras-container .prod-guitarras img {
  width: 150px;
}
.guitarras-container .prod-guitarras p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.guitarras-container .prod-guitarras button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.guitarras-container .prod-guitarras button:hover {
  background-color: #d66b6b;
}
.guitarras-container .guitar1 {
  grid-area: guitar1;
}
.guitarras-container .guitar2 {
  grid-area: guitar2;
}
.guitarras-container .guitar3 {
  grid-area: guitar3;
}
.guitarras-container .guitar4 {
  grid-area: guitar4;
}
.guitarras-container .guitar5 {
  grid-area: guitar5;
}
.guitarras-container .guitar6 {
  grid-area: guitar6;
}
.guitarras-container .guitar7 {
  grid-area: guitar7;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de bajos*/
.bajos-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "bajo1 bajo2 bajo3 bajo4 bajo5" "bajo6 bajo7 bajo8 bajo9 bajo10";
}
.bajos-container .prod-bajos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.bajos-container .prod-bajos img {
  width: 150px;
}
.bajos-container .prod-bajos p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.bajos-container .prod-bajos button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.bajos-container .prod-bajos button:hover {
  background-color: #d66b6b;
}
.bajos-container .bajo1 {
  grid-area: bajo1;
}
.bajos-container .bajo2 {
  grid-area: bajo2;
}
.bajos-container .bajo3 {
  grid-area: bajo3;
}
.bajos-container .bajo4 {
  grid-area: bajo4;
}
.bajos-container .bajo5 {
  grid-area: bajo5;
}
.bajos-container .bajo6 {
  grid-area: bajo6;
}
.bajos-container .bajo7 {
  grid-area: bajo7;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de baterias*/
.baterias-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: 350px;
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "bat1 bat2 bat3 bat4 bat5";
}
.baterias-container .prod-baterias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.baterias-container .prod-baterias img {
  width: 150px;
}
.baterias-container .prod-baterias p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.baterias-container .prod-baterias button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.baterias-container .prod-baterias button:hover {
  background-color: #d66b6b;
}
.baterias-container .bat1 {
  grid-area: bat1;
}
.baterias-container .bat2 {
  grid-area: bat2;
}
.baterias-container .bat3 {
  grid-area: bat3;
}
.baterias-container .bat4 {
  grid-area: bat4;
}
.baterias-container .bat5 {
  grid-area: bat5;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de pianos y teclados*/
.pianos-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "piano1 piano2 piano3 piano4 piano5" "piano6 piano7 piano8 piano9 piano10";
}
.pianos-container .prod-piano {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.pianos-container .prod-piano img {
  width: 150px;
}
.pianos-container .prod-piano p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.pianos-container .prod-piano button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.pianos-container .prod-piano button:hover {
  background-color: #d66b6b;
}
.pianos-container .piano1 {
  grid-area: piano1;
}
.pianos-container .piano2 {
  grid-area: piano2;
}
.pianos-container .piano3 {
  grid-area: piano3;
}
.pianos-container .piano4 {
  grid-area: piano4;
}
.pianos-container .piano5 {
  grid-area: piano5;
}
.pianos-container .piano6 {
  grid-area: piano6;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de accesorios*/
.accesorios-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "acces1 acces2 acces3 acces4 acces5" "acces6 acces7 acces8 acces9 acces10";
}
.accesorios-container .acces-prod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.accesorios-container .acces-prod img {
  width: 150px;
}
.accesorios-container .acces-prod p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.accesorios-container .acces-prod button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.accesorios-container .acces-prod button:hover {
  background-color: #d66b6b;
}
.accesorios-container .acces1 {
  grid-area: acces1;
}
.accesorios-container .acces2 {
  grid-area: acces2;
}
.accesorios-container .acces3 {
  grid-area: acces3;
}
.accesorios-container .acces4 {
  grid-area: acces4;
}
.accesorios-container .acces5 {
  grid-area: acces5;
}
.accesorios-container .acces6 {
  grid-area: acces6;
}
.accesorios-container .acces7 {
  grid-area: acces7;
}

/*Aplico grid y declaro la posicion de los productos de la seccion Categorias de instrumentos de viento*/
.viento-container {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 350px);
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "viento1 viento2 viento3 viento4 viento5" "viento6 viento7 viento8 viento9 viento10";
}
.viento-container .viento-prod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.viento-container .viento-prod img {
  width: 150px;
}
.viento-container .viento-prod p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
  text-align: center;
}
.viento-container .viento-prod button {
  background-color: #d42020;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
}
.viento-container .viento-prod button:hover {
  background-color: #d66b6b;
}
.viento-container .viento1 {
  grid-area: viento1;
}
.viento-container .viento2 {
  grid-area: viento2;
}
.viento-container .viento3 {
  grid-area: viento3;
}
.viento-container .viento4 {
  grid-area: viento4;
}
.viento-container .viento5 {
  grid-area: viento5;
}
.viento-container .viento6 {
  grid-area: viento6;
}

/*Activo grid y declaro la estructura y medidas*/
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0, 50fr 0, 50fr 1fr 1fr;
  gap: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin-top: 25px;
}
.contact-container .telefonos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  margin-left: 20px;
}
.contact-container .telefonos h2 {
  font-size: 25px;
}
.contact-container .telefonos .tel-whatsapp {
  display: flex;
  margin-bottom: 10px;
}
.contact-container .telefonos .tel-whatsapp i {
  margin-right: 10px;
}
.contact-container .telefonos .tel-comun {
  display: flex;
}
.contact-container .telefonos .tel-comun i {
  margin-left: 15px;
  margin-right: 8px;
}
.contact-container .telefonos i {
  font-size: 20px;
}
.contact-container .email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 20px;
}
.contact-container .email h2 {
  font-size: 25px;
}
.contact-container .email .icon-email {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit;
  margin-left: 15px;
}
.contact-container .email i {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.contact-container .ubicacion {
  grid-column: 2/3;
  grid-row: 1/3;
}
.contact-container .ubicacion h2 {
  font-size: 25px;
}
.contact-container .consulta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  flex-wrap: inherit;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-left: 20px;
}
.contact-container .consulta h2 {
  font-size: 25px;
}
.contact-container .consulta form .nombre-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: inherit;
  margin: 10px 0;
}
.contact-container .consulta form .nombre-form label {
  margin-right: 10px;
}
.contact-container .consulta form .nombre-form input {
  border: 1px solid #d42020;
  border-radius: 20px;
  padding: 5px;
}
.contact-container .consulta form .email-form {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit;
  margin: 10px 0;
}
.contact-container .consulta form .email-form label {
  margin-right: 30px;
}
.contact-container .consulta form .email-form input {
  border: 1px solid #d42020;
  border-radius: 20px;
  padding: 5px;
}
.contact-container .consulta form .mensaje-form {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit;
  margin: 10px 0;
}
.contact-container .consulta form .mensaje-form label {
  margin-right: 15px;
}
.contact-container .consulta form .mensaje-form input {
  border: 1px solid #d42020;
  border-radius: 20px;
  padding: 5px;
}
.contact-container .consulta form .mensaje-form textarea {
  width: 600px;
  height: 150px;
  resize: none;
  border: 1px solid #d42020;
  border-radius: 20px;
  padding: 5px;
}
.contact-container .consulta form .btn-enviar {
  display: flex;
  border: none;
  background-color: #d42020;
  color: white;
  padding: 5px 10px;
  margin-left: 350px;
  border-radius: 20px;
}
.contact-container .consulta form .btn-enviar:hover {
  background-color: #d66b6b;
}

/*Ajusto el tamaño del titulo de la pagina*/
.titulo-envios {
  font-size: 25px;
}

.envios-container p {
  margin-left: 20px;
  margin-right: 30px;
  text-align: justify;
}
.envios-container h2 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 22px;
}

/*Aplico flex y centro el titulo*/
.titulo-marcas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
}

/*Aplico grid y declaro las filas, columnas y posiciones*/
.img-marcas-container {
  display: grid;
  grid-template-columns: repeat(6 150px);
  grid-template-rows: repeat(3 150px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  grid-template-areas: "item1 item2 item3 item4 item5 item6" "item7 item8 item9 item10 item11 item12" "item13 item14 item15 item16 item17 item18";
}
.img-marcas-container .img-marcas {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 20px;
}
.img-marcas-container .img-marcas img {
  width: 150px;
  height: 100px;
}
.img-marcas-container .img-marcas p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: inherit;
}
.img-marcas-container .img1 {
  grid-area: item1;
}
.img-marcas-container .img2 {
  grid-area: item2;
}
.img-marcas-container .img3 {
  grid-area: item3;
}
.img-marcas-container .img4 {
  grid-area: item4;
}
.img-marcas-container .img5 {
  grid-area: item5;
}
.img-marcas-container .img6 {
  grid-area: item6;
}
.img-marcas-container .img7 {
  grid-area: item7;
}
.img-marcas-container .img8 {
  grid-area: item8;
}
.img-marcas-container .img9 {
  grid-area: item9;
}
.img-marcas-container .img10 {
  grid-area: item10;
}
.img-marcas-container .img11 {
  grid-area: item11;
}
.img-marcas-container .img12 {
  grid-area: item12;
}
.img-marcas-container .img13 {
  grid-area: item13;
}
.img-marcas-container .img14 {
  grid-area: item14;
}
.img-marcas-container .img15 {
  grid-area: item15;
}
.img-marcas-container .img16 {
  grid-area: item16;
}
.img-marcas-container .img17 {
  grid-area: item17;
}
.img-marcas-container .img18 {
  grid-area: item18;
}

/*Aplico estilos al parrafo*/
.parrafo-nosotros {
  font-size: 18px;
  margin: 50px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  /*-------PAGINA INDEX---------*/
  .w-banner {
    width: 100%;
    height: 250px;
  }
  .info-container {
    display: grid;
    grid-template-columns: 1 100px;
    grid-template-rows: repeat(3 100px);
    gap: inherit;
    justify-content: inherit;
    align-items: inherit;
    grid-template-areas: "info1" "info2" "info3";
  }
  .novedades-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, 350px);
    gap: inherit;
    justify-content: center;
    align-items: inherit;
    grid-template-areas: "prod1 prod2" "prod3 prod4" "prod5 prod6" "prod7 prod8" "prod9 prod10";
  }
  .subtitulo-categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    flex-wrap: inherit;
    margin-left: 0;
  }
  .guitarras-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "guitar1 guitar2" "guitar3 guitar4" "guitar5 guitar6" "guitar7 guitar8";
  }
  .bajos-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "bajo1 bajo2" "bajo3 bajo4" "bajo5 bajo6" "bajo7 bajo8";
  }
  .baterias-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "bat1 bat2" "bat3 bat4" "bat5 bat6";
  }
  .pianos-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "piano1 piano2" "piano3 piano4" "piano5 piano6";
  }
  .accesorios-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "acces1 acces2" "acces3 acces4" "acces5 acces6" "acces7 acces8";
  }
  .viento-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 350px);
    gap: inherit;
    justify-content: center;
    align-items: stretch;
    grid-template-areas: "viento1 viento2" "viento3 viento4" "viento5 viento6";
  }
  footer {
    display: grid;
    grid-template-columns: 1 100px;
    grid-template-rows: 3 150px;
    gap: inherit;
    justify-content: center;
    align-items: inherit;
    grid-template-areas: "footer1" "footer3" "footer2";
  }
  footer .redsocial-container p {
    margin-left: 83px;
  }
  footer .img-red-social {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    margin-left: 13%;
  }
  footer .contacto-container .contacto-item1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    flex-wrap: inherit;
    margin-left: 0;
  }
  footer .contacto-container .contacto-item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    flex-wrap: inherit;
    margin-left: 0;
  }
  footer .contacto-container .contacto-item3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    flex-wrap: inherit;
  }
  /*-------PAGINA MARCAS--------*/
  .img-marcas-container {
    display: grid;
    grid-template-columns: 1 100px;
    grid-template-rows: 1 100px;
    gap: 10px;
    justify-content: center;
    align-items: inherit;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11" "item12" "item13" "item14" "item15" "item16" "item17" "item18";
  }
  /*---------PAGINA NOSOTROS---------*/
  .parrafo-nosotros {
    text-align: justify;
    margin: 30px 20px;
  }
  /*--------PAGINA CONTACTO--------*/
  .contact-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 100px 300px 350px;
    gap: inherit;
    justify-content: inherit;
    align-items: inherit;
  }
  .contact-container .telefonos {
    grid-column: 1/1;
    grid-row: 1/4;
  }
  .contact-container .email {
    grid-column: 1/1;
    grid-row: 2/4;
  }
  .contact-container .ubicacion {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 0 20px;
  }
  .contact-container .ubicacion iframe {
    width: 100%;
    height: 230px;
  }
  .contact-container .consulta {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .contact-container .consulta form .mensaje-form {
    margin-right: 20px;
  }
  .contact-container .consulta form .btn-enviar {
    margin-left: 50%;
  }
  /*------PAGINA ENVIOS-------*/
  .titulo-envios {
    text-align: center;
  }
  .envios-container p {
    margin-right: 20px;
  }
  .envios-container h2 {
    text-align: center;
    margin-right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
